.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    max-width: 880px;
    gap: 20px 17px;
    padding: 50px 0px 0px;
    justify-content: center;
    margin: auto;
}
@media all and (max-width:880px) {
    .cards {
        padding: 36px 0px 0px;;
    }
}