@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../vendor/font/Inter-Regular.woff2") format("woff2"),
         url("../../vendor/font/Inter-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../vendor/font/Inter-Black.woff2") format("woff2"),
         url("../../vendor/font/Inter-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../vendor/font/Inter-Medium.woff2") format("woff2"),
         url("../../vendor/font/Inter-Medium.woff") format("woff");
  }
.page {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-kerning: auto;
}
