.profile {
    max-width: 880px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items:center;
    display: grid;
    margin: auto;
    padding: 40px 0px 0px;
}
@media all and (max-width: 880px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}
