.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}
.profile {
    max-width: 880px;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items:center;
    display: grid;
    margin: auto;
    padding: 40px 0px 0px;
}
.profile__avatar {
    width: 120px;
    border-radius: 100%;
}
.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    align-self: center;
    padding: 0px 0px 0px 30px;
    justify-self: start;
}
.profile__edit-button {
    align-self: center;
    background-color: transparent;
    border: none;
    margin: 6px 0px 0px 18px;

}
.profile__edit-button-image {
    display: flex;
    width: 24px;
    height: 24px;
}
.profile__name {
    color: white; 
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}
.profile__description {
    color: white;
    margin: 0;
    padding: 16px 0px 0px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}
.profile__add-button {
    padding: 0px;
    outline: solid 1px white;
    width: 150px;
    height: 50px;
    justify-self: right;
    grid-column-start: -1;
}
