.header {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 880px;
    padding: 45px 0px 0px;
}
.header::after {
    display: flex;
    content: '';
    margin: 41px 0px 0px;
    border-top: solid #545454 1px;
    width: 100%;
}
