.profile__add-button {
    padding: 0px;
    outline: solid 1px white;
    width: 150px;
    height: 50px;
    justify-self: right;
    grid-column-start: -1;
    transition: opacity 0.2s;
}
.profile__add-button:hover {
    opacity: 0.5;
}
@media all and (max-width: 880px) {
    .profile__add-button {
        width: 282px;
        margin-top: 36px;
    }
}
