.card__like-button{
    margin: 0px 22px 0px 0px;
    min-width: 22px;
    min-height: 19px;
    background-image: url(../../../images/likeButton-disabled.svg);
    transition:opacity 0.3s, background-image 0.3s;
}
.card__like-button:hover {
    opacity: 0.5;
}
