.profile__description {
    color: white;
    margin: 0;
    padding: 16px 0px 0px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    grid-column: 1/-1;
}
@media all and (max-width: 880px) {
    .profile__description {
        max-width: 282px;
        text-align: center;
        font-size: 14px;
    }
}
