.profile__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, min-content));
    padding: 0px 0px 0px 30px;
    align-self: center;
    justify-self: start;
}
@media all and (max-width: 880px) {
    .profile__info {
        padding: 0px;
        margin-top: 26px;
    }
}
