
.popup {
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    opacity: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    display: none;
    justify-content: center;
}
